<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Header</h1>
    </header>
    <main>
      <aside>
        <h2>Aside</h2>
      </aside>
      <section class="main-content">
        <%= yield %>
      </section>
    </main>
    <footer>
      <h2>Footer</h2>
    </footer>
  </body>
</html>
