<div id="<%= dom_id product %>" class="product">
  <h3>
    <% if !current_page?(product_path(product)) %>
      <a href="<%= product_path(product) %>">
        <%= product.name %>
      </a>
    <% else %>
      <%= product.name %>
    <% end %>
  </h3>
  <p>
    <%= product.description %>
  </p>
  <% if !current_page?(product_path(product)) %>
    <a href="<%= product_path(product) %>">
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </a>
  <% else %>
    <img src="<%= product.image %>" alt="<%= product.name %>">
  <% end %>
  <section class="meta">
    <span>
      <strong>Category:</strong> <%= product.category %>
    </span>
    <span>
      <strong>Condition:</strong> <%= product.condition %>
    </span>
    <span>
      <strong>Price:</strong> $<%= product.price %>
    </span>
    <span>
      <strong>Sold By:</strong> <%= product.user.name %>
    </span>
  </section>
  <%= button_to "Add to Cart", root_path, method: :post, class: "ok" %>
</div>
