<div id="<%= dom_id product %>" class="product">
  <h3>
    <%= product.name %>
  </h3>
  <p>
    <%= product.description %>
  </p>
  <img src="<%= product.image %>" alt="<%= product.name %>">
  <section class="meta">
    <span>
      <strong>Category:</strong> <%= product.category %>
    </span>
    <span>
      <strong>Condition:</strong> <%= product.condition %>
    </span>
    <span>
      <strong>Price:</strong> $<%= product.price %>
    </span>
  </section>
  <%= button_to "Add to Cart", root_path, method: :post, class: "ok" %>
</div>
