<%= form_with model: @article do |form| %>
  <section>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </section>
  <section>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </section>
  <section>
    <%= form.submit %>
  </section>
<% end %>
