<h2>Cart</h2>
<h3>Total Price: $<%= @cart.total_price %></h3>
<section class="cart">
  <%= render(@cart.line_items) %>
</section>
<section class="cart-footer">
  <% if @cart.line_items.count == 0 %>
    <h3>Cart is Empty</h3>
  <% else %>
    <%= button_to 'Checkout', order_cart_path(@cart), method: :get, class: "ok" %>
    <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "danger" %>
  <% end %>
  <%= button_to 'Keep Shopping', products_path, method: :get %>
</section>
