<%= simple_form_for @cart, url: checkout_cart_path(@cart), method: :post do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :address, label: 'Shipping Address', required: true %>
  <%= f.input :phone_number, label: 'Phone Number', required: true %>
  <%= f.input :credit_card_number, label: 'Credit Card Number', input_html: { value: '4242 4242 4242 4242' }, required: true %>
  <div class="form-actions">
    <%= f.button :submit, 'Complete Purchase', class: "ok" %>
  </div>
<% end %>
